// variables
$color-fondo: #0f0f0f;
$color-boton: #222222;
$color-boton-2: #272727;
$color-boton-hover: #3f3f3f;
$color-boton-hover2: #3d3d3d;
$color-letra: #f1f1f1;
$color-letra2: #131313;
$color-letra3: #aaaaaa;

$tipografia1: "Roboto", "Arial", sans-serif;


// main

main {
    top: 17vh;
    position: fixed;
    left: 19vw;
    width: 78vw;
    height: 80vh;
    overflow: hidden;
    

}

.contenedorMain {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
    scrollbar-width: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.tarjeta-video {
    color: white;
    overflow: hidden;
    width: 25vw;
    font-family: $tipografia1;
    margin-bottom: 2rem;

    .miniatura {
        position: relative;

        img {
            width: 100%;
            border-radius: 8px;
            border: none;

            &:hover{
                border-radius: 0;
                cursor: pointer;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                transition-duration: 1s;
            }
        }

    }

    .informacion {
        padding-top: 12px;
        display: flex;
        align-items: start;
        gap: 1rem;
        height: 12vh;

        h3 {
            font-size: 16px;
            margin: 0;
        }

        .imgCanal {
            margin-top: 12px;
            border-radius: 50%;
            width: 4vh;
            height: 4vh;
            overflow: hidden;

            img{
                width: 5vh;
                height: auto;
                object-fit: cover;
                overflow: hidden;

            }
        }

        .texto {
            margin-top: 12px;
            width: 70%;
            display: flex;
            flex-flow: column;

            span{
                margin-top: 8px;
                color: $color-letra3;

               
            }

            .canal:hover{
                color: $color-letra;
            }
        }

        .patrocinado {
            font-size: 12px;
            color: #777;
        }

        .puntos{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5vh;
            height: 5vh;
            font-size:x-large;
            font-weight: bolder;
          
          
        }

        &:hover{
            cursor: pointer;
        }
    }


}

.reels{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 2vw;
    flex-flow: column;
    color: white;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;

}

.contenedorReels{
    height: 100%;
    width: 120%;
    display: flex;
    gap: 1vw;
}

.tarjeta-reel{
    color: white;
    overflow: hidden;
    width: 14vw;
    height: 70vh;
    font-family: $tipografia1;
    margin-bottom: 2rem;
    
}

.miniatura-reel{
    position: relative;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        height: 100%;
        object-fit: fill;
        border: none;
        

        &:hover{
            border-radius: 0;
            cursor: pointer;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            transition-duration: 1s;
        }
    }

}

.informacion-reel {
    padding-top: 12px;
    display: flex;
    align-items: start;
    gap: 1rem;
    height: 12vh;
    color: white;

    h3 {
        font-size: 16px;
        margin: 0;
    }

    .imgCanal {
        margin-top: 12px;
        border-radius: 50%;
        width: 4vh;
        height: 4vh;
        overflow: hidden;

        img{
            width: 5vh;
            height: auto;
            object-fit: cover;
            overflow: hidden;

        }
    }

    .texto {
        margin-top: 12px;
        width: 70%;
        display: flex;
        flex-flow: column;
        color: white;

        span{
            margin-top: 8px;
            color: $color-letra3;

           
        }

    }

    .patrocinado {
        font-size: 12px;
        color: #777;
    }


    &:hover{
        cursor: pointer;
    }
}
