// imports
@use 'header';
@use 'navlateral';
@use 'barraTopics';
@use 'main';

// variables
$color-fondo: #0f0f0f;
$color-boton: #222222;
$color-boton-hover: #3f3f3f;
$color-boton-hover2: #3D3D3D;
$color-letra: #F1F1F1;
$color-letra2: #131313;
$color-letra3: #AAAAAA;

$tipografia1:  "Roboto", "Arial", sans-serif;


// cuerpo 

body{
    width: 100vw;
    box-sizing: border-box;
    font-family: $tipografia1;
    background-color: $color-fondo;
    display: flex;
    flex-flow: column;
}