// variables
$color-fondo: #0f0f0f;
$color-boton: #222222;
$color-boton-2: #272727;
$color-boton-hover: #3f3f3f;
$color-boton-hover2: #3d3d3d;
$color-letra: #f1f1f1;
$color-letra2: #131313;
$color-letra3: #aaaaaa;

$tipografia1: "Roboto", "Arial", sans-serif;


// main

main {
    top: 17vh;
    position: fixed;
    left: 19vw;
    width: 78vw;
    height: 80vh;
    overflow: hidden;
    

}

.contenedorMain {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
    scrollbar-width: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.resultado {
    display: flex;
    width: 100%;
    height: 30vh;
    gap: 1vw;
}

.miniatura {
    width: 50%;
    height: 100%;
    background: #3a2a1a;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    &:hover {
       border-radius: 0;
       cursor: pointer;
    }
}

.imgResultado{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1vh;
}

.titulo {
    font-size: 16px;
    font-weight: bolder;
    color: $color-letra;
    margin-bottom: 0;
}

.detalles, .canal, .descripcion {
    font-size: 14px;
    color: $color-letra3;
    display: flex;
    align-items: center;
    gap: 1vw;

    img{
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
    }

}

.canal{
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalles{
    margin-top: 0;
    font-size: 12px;
}