header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6vh;
  width: 97vw;
  padding: 1vh 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seccionMenu {
  display: flex;
  align-items: center;
}
.seccionMenu button {
  background: none;
  border: none;
  cursor: pointer;
}
.seccionMenu button img {
  width: 4vh;
  height: 4vh;
}
.seccionMenu img {
  height: 8vh;
}

.seccionCentral {
  height: 4vh;
  width: 50vw;
  display: flex;
  align-items: center;
}
.seccionCentral #micro {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: none;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccionCentral #micro img {
  height: 3vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.seccionCentral #micro:hover {
  background-color: #3d3d3d;
}

.seccionBuscador {
  margin-left: 4vmin;
  margin-right: 1vw;
  width: 50vw;
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: #121212;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #aaaaaa;
  font-family: "Roboto", "Arial", sans-serif;
  padding-left: 2vmin;
  display: flex;
  justify-content: space-between;
}
.seccionBuscador input {
  padding: 8px;
  border: none;
  background: transparent;
  color: #f1f1f1;
  outline: none;
  width: 300px;
}
.seccionBuscador #botonBuscar {
  background: #222222;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccionBuscador #botonBuscar:hover {
  background: #3f3f3f;
}
.seccionBuscador #botonBuscar img {
  height: 6vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.seccionUsuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.anyadir {
  display: flex;
  height: 5vh;
  width: 8vw;
  border-radius: 40px;
  background-color: #272727;
  border: none;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bolder;
  padding-right: 1rem;
}
.anyadir img {
  width: 5vh;
  height: 5vh;
}
.anyadir:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

.notificaciones {
  margin-right: 2vw;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background: transparent;
  border: none;
}
.notificaciones img {
  width: 2vw;
  height: 2vw;
}
.notificaciones:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}

.usuario {
  margin-right: 2vw;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background: transparent;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.usuario img {
  width: 7vh;
  height: 5vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.usuario:hover {
  cursor: pointer;
}

.navLateral {
  position: fixed;
  top: 8vh;
  left: 0;
  height: 92vh;
  width: 15vw;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0f0f0f;
  overflow: hidden;
}

.contenidoNav {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: none;
}

.item {
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
  transition: background 0.3s;
  width: 80%;
}
.item img {
  height: 4vmin;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2vmin;
}

.item:hover {
  background: #3f3f3f;
}

.item.activo {
  background: #222222;
}

.icon {
  margin-right: 15px;
  font-size: 18px;
}

hr {
  border: 0;
  height: 1px;
  background: #272727;
  margin: 10px 0 0 5px;
  width: 100%;
}

h4 {
  color: white;
  padding-left: 3vmin;
  margin-bottom: 2px;
}

p {
  padding-left: 2vw;
  padding-right: 3vw;
  font-size: 12px;
  font-weight: 100;
  color: #aaaaaa;
}

.barraTopics {
  position: fixed;
  top: 8vh;
  left: 17vw;
  height: 4vh;
  width: 76vw;
  padding: 1vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
}

.contenidoBarra {
  width: 70%;
  height: 100%;
  overflow-x: auto;
  padding-right: 5px;
  scrollbar-width: none;
  display: flex;
  gap: 0.5vw;
}

.topic {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
  transition: background 0.3s;
  align-items: center;
  justify-content: center;
  background-color: #222222;
}

.topic:hover {
  background: #3f3f3f;
}

.topic.activo {
  background: white;
  color: #131313;
}

.info {
  background: transparent;
  border: none;
  border-radius: 40px;
  width: 14vw;
  margin-left: 3vw;
  height: 100%;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info img {
  height: 80%;
  width: auto;
}
.info:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

.filtros {
  background: transparent;
  border: none;
  border-radius: 40px;
  width: 8vw;
  height: 100%;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filtros img {
  height: 80%;
  width: auto;
}
.filtros:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

main {
  top: 17vh;
  position: fixed;
  left: 19vw;
  width: 78vw;
  height: 80vh;
  overflow: hidden;
}

.contenedorMain {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.resultado {
  display: flex;
  width: 100%;
  height: 30vh;
  gap: 1vw;
}

.miniatura {
  width: 50%;
  height: 100%;
  background: #3a2a1a;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.miniatura:hover {
  border-radius: 0;
  cursor: pointer;
}

.imgResultado {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1vh;
}

.titulo {
  font-size: 16px;
  font-weight: bolder;
  color: #f1f1f1;
  margin-bottom: 0;
}

.detalles, .canal, .descripcion {
  font-size: 14px;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.detalles img, .canal img, .descripcion img {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.canal {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detalles {
  margin-top: 0;
  font-size: 12px;
}

body {
  width: 100vw;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #0f0f0f;
  display: flex;
  flex-flow: column;
}/*# sourceMappingURL=busqueda.css.map */